<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>
    <header>
        <h1>F1 Discussion Forum</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.home') }}">Home</a></li>
                <li><a href="{{ url_for('main.new_post') }}">New Post</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    <li><a></a>
                    </li>
                </ul>
        </nav>
    </header>
</body>
</html>